*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 16px;
    
  
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
}
.container-2{
    width: 90%;
    margin: auto;
}

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: #0575E6;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 2rem;
    display: none;

}


.nav-brand{
    width: 80px;
    padding-left: 35px;
}
.nav-main ul {
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-menu-active-bar{
    text-decoration: solid;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;

}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.showcase{
    width: 100%;
    height: 550px;
    background: url(../img/peru-news.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.btn{
    cursor:pointer;
    display: inline-block;
    border:0;
    font-weight: bold;
   background-color: #0D8FEF;
    color:#fff;
    font-size: 15px;
    border: 4px solid rgb(7, 27, 46);
}

.btn:hover{
    opacity: 0.8;
}

.showcase-p{
    font-weight: bold;
    background: #0D8FEF;
    color:#fff;
    font-size: 25px;
    border: 1px solid #0488EA;
}
.showcase-h2{
    font-weight: bold;
    background: #0D8FEF;
    color:#fff;
    font-size: 35px;
    border: 1px solid #0488EA;
}


.news-cards h3{
    padding: 20px 0;
    text-align: center;

}
.news-cards p{
    padding: 20px 0;

}
.news-cards img{
    width: 100%;
    height: 180px;
}


.news-cards h3{
    font-size: 20px;
    
}


.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards a:hover{
    text-decoration: underline;
}

.card-banner-one{
width: 100%;
height: 350px;
background: url(../img/banner.jpg) no-repeat center center/cover;
margin-bottom: 40px;
}


.card-banner-p{
    font-weight: bold;
    margin: 10px 0 20px 0;
    color:#fff;
    font-size: 20px;
    
}
.card-banner-h2{
    font-weight: bold;
    margin: 10px 0 20px 0;
    color:#fff;
    font-size: 35px;
    
}
.card-banner-one .content{
    width: 40%;
    padding: 100px 0 0 30px;
    
}
.cards-banner-two{
    width: 100%;
    height: 550px;
    background: url(../img/news-banner1.jpg) no-repeat center center/cover;
}

.cards-banner-two .contaer{
    width: 40%;
    padding: 150px 0 0 50px;
    
}

.social{
    margin:50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}

.footer{
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}


@media (max-width: 900px){

    .menu-btn{
        display: block;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #021B79;
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right{
        margin-right: 80px;
    }



   .news-cards{
       grid-template-columns: repeat(2,1fr);
   }
   .card-banner-one .content,
   .cards-banner-two .contaer
   {
       width: 80%;
   }
}

@media (max-width: 600px){

    .news-cards{
        grid-template-columns: 1fr;
    }
    .news-cards img{
        height: 180px;
    }
    .card-banner-one .content, 
    .cards-banner-two .contaer{
        width: 100%;
        padding: 60px 20px;
        color: #0601ff;
    }

}